<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Зритель</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center" style="margin-top: 100px;">
    <h1>Панель зрителя</h1>
    <div class="mt-4">
        <a th:href="@{/viewer/performance-report}" class="btn btn-primary btn-lg">Купить билет</a>
        <a th:href="@{/viewer/artist-report}" class="btn btn-secondary btn-lg">Артисты</a>
    </div>
</div>
</body>
</html>
